@model UserShots

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Assign Users</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col">
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                <table >
                    <tr>
                        <th>
                            <h5>User name:</h5>
                        </th>
                        <th>
                            <h5>Owner ID:</h5>
                        </th>
                    </tr>
                    <br/>

                    <tr style="height: 40px; width: 1200px">

                        <td>
                            @Html.EditorFor(model => model.UserName)
                            @Html.ValidationMessageFor(model => model.UserName)
                        </td>
                        <td >
                            @Html.TextBoxFor(model => model.OwnerId, new {@style = "width: 500px"})
                            @Html.ValidationMessageFor(model => model.OwnerId)
                        </td>
                    </tr>

                </table >
                <br/>
                <table>
                    <tr>
                        <th>
                            <h5>First name:</h5>
                        </th>
                        <th>
                            <h5>Last name:</h5>
                        </th>
                        <th style="width: 700px">
                            <h5>User ID:</h5>
                        </th>
                    </tr>
                    @foreach (var item in ViewBag.UsersList)
                    {
                        <th>
                            @item.FirstName

                        </th>
                        <th>
                            @item.LastName

                        </th>
                        <th >
                            <p id="myLink">@item.Id</p>
                        </th>
                        <th>
                            <button type="button" onclick="copyToClipboard()">Copy</button>
                        </th>
                    }
                </table>
                <div class="form-group">
                    <div >
                        <input type="submit" value="Save" class="btn btn-primary" style="margin-top: 20px; width: 50%; margin-left: 15%"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<script>
    function copyToClipboard() {
        var linkText = document.getElementById("myLink").innerText;
        var tempInput = document.createElement("input");
        tempInput.value = linkText;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
    }
</script>