@using DatabaseSetupLocal.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.ModelBinding.Validation
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Web

@using DatabaseSetupLocal.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> UserManager
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
@model List<UserShots>
@{
    ViewBag.Title = "User List";
    Layout = "_Layout";
}
@* @Html.Partial("UsersNavigationPartial") *@


<div class="align-middle" style="margin-left: 40%">

    <table>
        <tr>
            <th>
                <h4>User name:</h4>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @if (!item.Hidden || ViewBag.IsUserAdmin)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>

                    <td>
                        @Html.ActionLink("Years", "Years", new {userId = item.Id}, new {@class = "btn btn-primary"})
                    </td>
                }
                @if (ViewBag.IsUserAdmin)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hidden)
                    </td>
                    <td>
                        @Html.ActionLink("Hide user", "HideUser", "Shots", new {userId = item.Id}, new {@class = "btn btn-primary", @style = "margin-top: 20px; margin-left: 7%"})

                    </td>

                    <td>
                        @Html.ActionLink("Show user", "ShowUser", "Shots", new {userId = item.Id}, new {@class = "btn btn-primary", @style = "margin-top: 20px; margin-left: 7%"})

                    </td>
                    <td>
                        @Html.ActionLink("Assign users", "AssignUser", "Shots", new{userId = item.Id}, new {@class = "btn btn-primary", @style = "margin-top: 20px"})
                    </td>


                    @* <td> *@
                    @*     @Html.ActionLink("Delete user", "DeleteUser", "Shots", new {userId = item.Id}, new {@class = "btn btn-primary", @style = "margin-top: 20px; margin-left: 7%"}) *@
                    @* </td> *@
                }
            </tr>
        }
    </table>
    @if (ViewBag.AppUserId == null)
    {
        <a>Login to add a user.</a>
    }
    else
    {
        @Html.ActionLink("Add new user", "AddUser", "Shots", new {userId = ViewBag.AppUserId}, new {@class = "btn btn-primary", @style = "margin-top: 20px; margin-left: 7%"})
    }



</div>