@using Microsoft.AspNetCore.Identity
@using DatabaseSetupLocal.Areas.Identity.Data
@using Microsoft.AspNet.Identity
@inject SignInManager<AppUser> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> UserManager
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
@model List<UserShots>

<style>
    /* Dark mode styles */
    .dark-mode body {
        background-color: #202020 !important;
        color: #ffffff !important;
    }

    .dark-mode h2 {
        color: #ffffff !important;
    }

    .dark-mode th {
        color: #ffffff !important;
    }

    .dark-mode td {
        color: #ffffff !important;
    }

    .dark-mode .table {
        background-color: #202020 !important;
    }

    .dark-mode .table-striped tbody tr:nth-of-type(odd) {
        background-color: #292929 !important;
    }

    .dark-mode .btn-primary {
        background-color: #007bff !important;
        border-color: #007bff !important;
    }

    .dark-mode .btn-primary:hover {
        background-color: #0069d9 !important;
        border-color: #0062cc !important;
    }

    .dark-mode .btn-secondary {
        background-color: #6c757d !important;
        border-color: #6c757d !important;
    }

    .dark-mode .btn-secondary:hover {
        background-color: #5a6268 !important;
        border-color: #545b62 !important;
    }

    .dark-mode .btn-danger {
        background-color: #dc3545 !important;
        border-color: #dc3545 !important;
    }

    .dark-mode .btn-danger:hover {
        background-color: #c82333 !important;
        border-color: #bd2130 !important;
    }

    .dark-mode .btn-success {
        background-color: #28a745 !important;
        border-color: #28a745 !important;
    }

    .dark-mode .btn-success:hover {
        background-color: #218838 !important;
        border-color: #1e7e34 !important;
    }

    .dark-mode .modal-content {
        background-color: #2a2a2a !important;
        color: #ffffff !important;
    }

    .dark-mode .modal-header {
        background-color: #343a40 !important;
        color: #ffffff !important;
    }

    .dark-mode .modal-title {
        color: #ffffff !important;
    }

    .dark-mode .modal-body {
        color: #ffffff !important;
    }

    .dark-mode .modal-footer {
        background-color: #343a40 !important;
    }

    .dark-mode .text-success {
        color: #28a745 !important;
    }

    .dark-mode .text-success:hover {
        color: #218838 !important;
    }
</style>


@{
    ViewBag.Title = "Users List";
    Layout = "_Layout";
    var userId = IdentityExtensions.GetUserId(User.Identity);
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>User List</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User Name</th>
                        @if (ViewBag.IsAdmin)
                        {
                            <th>Hidden</th>
                        }
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.Hidden && !ViewBag.IsAdmin)
                        {
                            continue;
                        }
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                            @if (ViewBag.IsAdmin)
                            {
                                <td>
                                    @if (item.Hidden)
                                    {
                                        <span class="text-success">&#x2714;</span>
                                    }
                                </td>
                            }
                            <td>
                                @Html.ActionLink("Years", "Years", new { userId = item.Id }, new { @class = "btn btn-primary" })
                                @if (ViewBag.IsAdmin)
                                {
                                    @if (item.Hidden)
                                    {
                                        <button class="btn btn-success btn-sm ml-2" style="width: 75px" data-toggle="modal" data-target="#showUserModal_@item.Id">Show User</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-danger btn-sm ml-2" style="width: 75px; text-align: center"  data-toggle="modal" data-target="#hideUserModal_@item.Id">Hide User</button>
                                    }
                                    @Html.ActionLink("Delete User", "DeleteUser", new { userId = item.Id }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Edit User", "EditUser", new { userId = item.Id }, new { @class = "btn btn-primary", @style = "margin-left: 5px" })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (ViewBag.AppUserId == null)
            {
                <p>Login to add a user.</p>
            }
            else
            {
                @Html.ActionLink("Add New User", "AddUser", "Shots", new { userId = ViewBag.AppUserId }, new { @class = "btn btn-primary" })
            }
        </div>
    </div>
</div>

@if (ViewBag.IsAdmin)
{
    foreach (var item in Model)
    {
        <div class="modal fade" id="hideUserModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="hideUserModalLabel_@item.Id" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="hideUserModalLabel_@item.Id">Hide User Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to hide this user? This action cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        @Html.ActionLink("Hide User", "HideUser", "Shots", new { userId = item.Id, user = userId}, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="showUserModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="showUserModalLabel_@item.Id" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="showUserModalLabel_@item.Id">Show User Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to show this user as before?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        @Html.ActionLink("Show User", "ShowUser", "Shots", new { userId = item.Id , user = userId}, new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
        </div>
        
    }
}
