@using DatabaseSetupLocal.Library
@using Microsoft.AspNet.Identity
@model (List<UserShots> userShotsList, int raceYear, int raceNo)

@{
    ViewBag.Title = $"Live Timing - {Model.Item2} - {Model.Item3}";
    Layout = "_Layout";
    var userId = IdentityExtensions.GetUserId(User.Identity);
    int maxShots = Model.Item1.Max(u => u.Race.FirstOrDefault(r => r.RaceYear == Model.Item2 && r.RaceNo == Model.Item3)?.Shot.Count ?? 0);
    int userCount = Model.Item1.Count(u => !u.Hidden && !u.Banned);
    int userColumnWidth = 10 / userCount; // Reserving 2 units for 'Position' and 'Results'
}

<h2>@Model.Item1.First().Race.Where(x => x.RaceYear == Model.Item2 && x.RaceNo == Model.Item3).First().RaceLocation - Live Timing</h2>
<h2>@Model.Item2</h2>

<div class="row">
    <div class="col-md-1">
        <h4>Position:</h4>
        <table class="table">
            <tbody>
                @for (var i = 1; i <= 20; i++)
                {
                    <tr><td>@i</td></tr>
                }
            </tbody>
        </table>
    </div>

    @foreach (var user in Model.Item1.Where(u => !u.Hidden && !u.Banned))
    {
        <div class="col-md-@userColumnWidth">
            <h4>@user.UserName</h4>
            <table class="table table-sm">
                <thead>
                    <tr><th>Shot:</th></tr>
                </thead>
                <tbody>
                    @{
                        var race = user.Race.FirstOrDefault(x => x.RaceYear == Model.Item2 && x.RaceNo == Model.Item3);
                        var shots = race?.Shot ?? new List<Shot>();
                    }
                    @for (var i = 0; i < maxShots; i++)
                    {
                        var shot = shots.ElementAtOrDefault(i);
                        <tr><td>@(shot == null ? "---" : shot.UsersShotDriver)</td></tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <div class="col-md-1">
        <h4>Results:</h4>
        <table id="liveTable" class="table">
            <tbody>
                @for (var i = 0; i < 20; i++)
                {
                    <tr><td id="resultCell_@i"></td></tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        updateTable(); // Initial call to populate the table
        setInterval(function () {
            
            updateTable();
            updateTableCellBackgroundColors(); // Update cell background colors after updating the table
        }, 1000);
    });

function updateTableCellBackgroundColors() {
    var tableRows = document.querySelectorAll('#table-container table tbody tr');

    tableRows.forEach(function(row, rowIndex) {
        var index = row.getAttribute('data-row-index'); // Get the index of the row
        var pointsCell = row.querySelector('td:nth-child(1)'); // Assuming the points cell is the first cell in each row
        var result = $("#resultCell_" + index).text().trim(); // Get the result for the corresponding row from the results table

        var prevIndex = index - 1;
        var nextIndex = index;
        nextIndex++;
        var prevResultCell = $("#resultCell_" + prevIndex).text().trim();
        var nextResultCell = $("#resultCell_" + nextIndex).text().trim();
        var shot = pointsCell.textContent.trim();

        if (shot === result) {
            row.style.backgroundColor = 'green';
        } else if (
            (shot === prevResultCell)
        ) {
            row.style.backgroundColor = 'orange';
        }else if (
            (shot === nextResultCell)
        ) {
            row.style.backgroundColor = 'orange';
        } 
        else {
            row.style.backgroundColor = ''; // Reset to default background color if needed
        }
    });
}



function updateTable() {
    $.ajax({
        url: '/Shots/GetLiveTiming', // Replace with the actual URL to your server-side endpoint
        method: 'GET',
        dataType: 'json',
        success: function (data) {
            var results = JSON.parse(data.responseMessage);
            for (var i = 0; i < 20; i++) {
                var result = results[i] || "Empty";
                if (result === "Alex Albon") {
                    result = "Alexander Albon";
                }
                if (result === "Nyck de Vries") {
                    result = "Nyck De Vries";               
                }

                if (result === "Guanyu Zhou"){
                    result = "Zhou Guanyu";}
                $("#resultCell_" + i).text(result);
            }
        },
        error: function (xhr, status, error) {
            console.log(error);
        }
    });
}

</script>