@using Microsoft.AspNet.Identity
@model List<Race>

@{
    ViewBag.Title = "Races";
    Layout = "_Layout";
    var userId = IdentityExtensions.GetUserId(User.Identity);

}

<style>
    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin: 0 auto;
    }
    
    th, td {
        padding: 10px;
        text-align: center;
    }
    
    th {
        background-color: #f2f2f2;
    }
</style>

<div class="container">
    <div class="text-center">
        <h2>@ViewBag.User.UserName</h2>
        <h3>@ViewBag.Year</h3>
        <h3>Select a race:</h3>

        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Location</th>
                <th>Points</th>
                <th>Sum of points</th>
                @if (ViewBag.IsAdmin)
                {
                    <th>ID</th>
                }
                <th></th>
            </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => Model[i].RaceNo)</td>
                    <td>@Html.DisplayFor(modelItem => Model[i].RaceLocation)</td>
                    <td>@Html.DisplayFor(modelItem => Model[i].Points)</td>
                    <td>
                        @{
                            var sum = Model.Select(x => x.Points).Take(i).Sum();
                        }
                        @Html.DisplayFor(modelItem => sum)
                    </td>
                    @if (ViewBag.IsAdmin)
                    {
                        <td>@Html.DisplayFor(modelItem => Model[i].Id)</td>
                    }
                    <td>
                        @Html.ActionLink("Select", "Shots", new {userId = ViewBag.User.Id, raceId = Model[i].Id, raceLocation = Model[i].RaceLocation}, new {@class = "btn btn-primary"})
                    </td>
                </tr>
            }
            <tr>
                <td colspan="5">
                    <strong>Final points:</strong>
                    @{
                        var finalPoints = Model.Select(x => x.Points).Sum();
                    }
                    @Html.DisplayFor(modelItem => finalPoints)
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        @Html.ActionLink("Back to years", "Years", new {userId = ViewBag.User.Id}, new {@class = "btn btn-primary"})

    </div>
</div>