@inject IJSRuntime JSRuntime
@using Microsoft.JSInterop
@using DatabaseSetupLocal.Repository
@using DatabaseSetupLocal.Data
@using Microsoft.AspNetCore.Components.Web
@using System.Text.Json
@using JsonSerializer = Newtonsoft.Json.JsonSerializer
@model Race

@{
    ViewBag.Title = ViewBag.User.UserName + " Shots";
    Layout = "_Layout";
}

@* @Html.Partial("UsersNavigationPartial") *@
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%;
    }

</style>
<div style="margin-left: 20%">
    <h2>@ViewBag.User.UserName</h2>
    <h2>@ViewBag.Year</h2>
    <h2>@ViewBag.Location</h2>
    @if (Model.Locked)
    {
        <h3 style="color: red">Race is locked, editing is turned off.</h3>
    }
    <table >
        <tr>
            <th>
                <h5>Position:</h5>
            </th>
            <th>
                <h5>Users driver:</h5>
            </th>
            <th>
                <h5>Result driver:</h5>
            </th>
            <th>
                <h5>Points:</h5>
            </th>
            @if (ViewBag.IsAdmin)
            {
                <td>
                    <h5>ID:</h5>

                </td>
            }
            <th></th>
        </tr>

        @for (var i = 1; i - 1 < Model.Shot.Count; i++)
        {
            <tr style="height: 40px">
                <td >
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Shot[i - 1].UsersShotDriver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Shot[i - 1].ResultDriver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Shot[i - 1].Points)
                </td>
                @if (ViewBag.IsAdmin)
                {
                    <td>
                        @Html.DisplayFor(modelItem => Model.Shot[i - 1].Id)
                    </td>
                }
            </tr>
        }
    </table>

    <div style="margin-left: 30%">

        @if (Model.RaceYear == 2022)
        {
            <h5>Random:</h5>

            @Html.DisplayFor(modelItem => Model.Rand)
        }
        <h5>Pole position:</h5>
        @Html.DisplayFor(modelItem => Model.PolePosition)
        @Html.DisplayFor(modelItem => Model.PolePositionPoints)
        @if (Model.RaceYear == 2023)
        {
            <h5>Fastest lap:</h5>

            @Html.DisplayFor(modelItem => Model.FastestLap)
            @Html.DisplayFor(modelItem => Model.FastestLapPoints)
        }
    </div>

    <h4>
        Final Points:
        @{
            var sum = Model.Shot.Select(x => x.Points).Sum() + Model.FastestLapPoints + Model.PolePositionPoints;
            Model.Points = sum;
        }
        @Html.DisplayFor(modelItem => sum)
    </h4>
    <div>
        @if (ViewBag.HasAccessToEdit && !Model.Locked || ViewBag.IsAdmin)
        {
            @Html.ActionLink("Edit", "EditMultipleShots", new {raceId = ViewBag.RaceId, userId = ViewBag.UserId}, new {@class = "btn btn-primary", @style = "margin-top: 20px; width: 50%; margin-left: 15%"})
        }
        else
        {
            <p>You dont have access to edit.</p>
        }
        @if (ViewBag.HasAccessToEdit || ViewBag.IsAdmin)
        {
            @Html.ActionLink("Get race results", "GetRaceResults", new {raceId = ViewBag.RaceId, userId = ViewBag.UserId}, new {@class = "btn btn-primary", @style = "margin-top: 20px; width: 50%; margin-left: 15%"})
        }
        <div>
            @if (ViewBag.IsAdmin)
            {
                <button class="btn btn-primary" id="copy-button" style="margin-top: 20px; width: 50%; margin-left: 15%">Paste from Clipboard</button>
            }

        </div>
    </div>
    <a href="javascript:history.go(-1)" class="btn btn-primary">Back</a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
        $(function () {
            $('#copy-button').click(function () {
                // Copy the text from the clipboard
                navigator.clipboard.readText().then(function (text) {
                    // Send the text to the server using an AJAX request
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("ImportFromClipBoard", "Shots")",
                        data: { 
                            data: text,
                            raceId: @Model.Id
                        },
                        success: function (response) {
                            alert('The text "' + text + '" was copied to the server.');
                        }
                    });
                });
            });
        });
    </script>