@inject ShotsRepository ShotsRepository
@using DatabaseSetupLocal.Repository
@using Microsoft.AspNet.Identity
@model Race
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


@{
    ViewBag.Title = ViewBag.User.UserName + " Shots";
    Layout = "_Layout";
    var userShotsId = ShotsRepository.GetUserIdByRaceId(Model.Id);
    var userId = IdentityExtensions.GetUserId(User.Identity);
    var raceDate = "nie ma";
    var raceDateToShow = "nie ma";

    if (Model.RaceYear == 2023)
    {
        raceDate = (ViewBag.RaceSchedule as RaceSchedule)?.F1Events
            .First(x => x.EventName == "Qualifying")
            .EventDateAndTime
            .ToUniversalTime()
            .ToString("s") + "Z";

        raceDateToShow = (ViewBag.RaceSchedule as RaceSchedule)?.F1Events
            .First(x => x.EventName == "Qualifying")
            .EventDateAndTime
            .ToString("f");
    }

}

<style>
    .custom-table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
    }

    .custom-table th,
    .custom-table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }



    .custom-container {
        margin-left: 20%;
    }

    .custom-btn {
        display: inline-block;
        margin-top: 20px;
        width: 50%;
        margin-left: 15%;
        padding: 10px 20px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .custom-btn-primary {
        background-color: #007bff;
    }

    .custom-btn-primary:hover {
        background-color: #0069d9;
    }

    .custom-btn-primary:active {
        background-color: #0062cc;
    }
</style>

<div class="custom-container">
    <h2>@ViewBag.User.UserName</h2>
    <h2>@ViewBag.Year</h2>
    <h2>@ViewBag.Location</h2>
    @if (Model.RaceYear == 2023)
    {
        <h2>@raceDateToShow</h2>
    }
    
    @if (Model.RaceYear == 2023)
    {
        <h2 style="font-weight: bold" id="countdown"></h2>
        <div id="countdown"></div>
    }
    
    @if (Model.Locked)
    {
        <h3>Race is locked, editing is turned off.</h3>
    }
    <table class="custom-table">
        <tr>
            <th>Position:</th>
            <th>Users driver:</th>
            <th>Result driver:</th>
            <th>Points:</th>
            @if (ViewBag.IsAdmin)
            {
                <th>ID:</th>
            }
            <th></th>
        </tr>

        @for (var i = 1; i - 1 < Model.Shot.Count; i++)
        {
            <tr
                @if (Model.Shot[i - 1].Points == 3)
                {
                    <text>style="background-color: green"</text>
                }
                @if (Model.Shot[i - 1].Points == 1)
                {
                    <text>style="background-color: orange"</text>
                }
            >
                <td>@i</td>
                <td>@Html.DisplayFor(modelItem => Model.Shot[i - 1].UsersShotDriver)</td>
                <td>@Html.DisplayFor(modelItem => Model.Shot[i - 1].ResultDriver)</td>
                <td >@Html.DisplayFor(modelItem => Model.Shot[i - 1].Points)</td>
                @if (ViewBag.IsAdmin)
                {
                    <td>@Html.DisplayFor(modelItem => Model.Shot[i - 1].Id)</td>
                }
            </tr>
        }
    </table>

    <div class="custom-content">
        <div>
            @if (Model.RaceYear == 2022)
            {
                <h5>Random:</h5>
                <p>@Html.DisplayFor(modelItem => Model.Rand)</p>
            }
            <h5
                @if (Model.PolePositionPoints == 2)
                {
                    <text>style="background-color: green"</text>
                }
            >
                Pole position:
            </h5>
            <p>@Html.DisplayFor(modelItem => Model.PolePosition)</p>
            <p>@Html.DisplayFor(modelItem => Model.PolePositionPoints)</p>
            @if (Model.RaceYear == 2023)
            {
                <h5
                    @if (Model.FastestLapPoints == 2)
                    {
                        <text>style="background-color: green"</text>
                    }
                >
                    Fastest lap:
                </h5>
                <p>@Html.DisplayFor(modelItem => Model.FastestLap)</p>
                <p>@Html.DisplayFor(modelItem => Model.FastestLapPoints)</p>
            }
        </div>

        <h4>Final Points:</h4>
        @{
            var sum = Model.Shot.Select(x => x.Points).Sum() + Model.FastestLapPoints + Model.PolePositionPoints;
            Model.Points = sum;
        }
        <p>@Html.DisplayFor(modelItem => sum)</p>
    </div>

    <div>
        @if (ViewBag.HasAccessToEdit && !Model.Locked || ViewBag.IsAdmin)
        {
            <a class="custom-btn custom-btn-primary" href="@Url.Action("EditMultipleShots", new {raceId = ViewBag.RaceId, userId = ViewBag.UserId})">Edit</a>
        }
        else
        {
            <p>You don't have access to edit.</p>
        }
        @if (ViewBag.HasAccessToEdit || ViewBag.IsAdmin)
        {
            <a class="custom-btn custom-btn-primary" href="@Url.Action("GetRaceResults", new {raceId = ViewBag.RaceId, user = userId})">Get race results</a>
        }
        @if (ViewBag.HasAccessToEdit || ViewBag.IsAdmin)
                {
                    <a class="custom-btn custom-btn-primary" href="@Url.Action("ChangeAbrToFullName", new {raceId = ViewBag.RaceId})">Change abr to full name</a>
                }
        <div>
            @if (ViewBag.IsAdmin)
            {
                <button class="custom-btn" id="copy-button">Paste from Clipboard</button>
            }
        </div>
    </div>
    <a class="custom-btn custom-btn-primary" href="@Url.Action("Races", new {userId = userShotsId, year = DateTime.Now.Year})">Back to list</a>

    <div style="margin-bottom: 70px"></div>
</div>
<script>
    $(function () {
          $('#copy-button').click(function () {
              // Copy the text from the clipboard
              navigator.clipboard.readText().then(function (text) {
                  // Send the text to the server using an AJAX request
                  $.ajax({
                      type: "POST",
                      url: "@Url.Action("ImportFromClipBoard", "Shots")",
                      data: {
                          data: text,
                          raceId: @Model.Id,
                          user: '@userId'
                      },
                      success: function (response) {
                          alert('Drivers "' + text + '" were imported.');
                      }
                  });
              });
          });
      }
);
    var date = "@raceDate";
        var targetDate = new Date(Date.parse(date));
    
        var timerElement = document.getElementById("countdown");
    
        setInterval(function() {
            // Get the current date and time
            var currentDate = new Date();
            
            // Calculate the time remaining
            var timeRemaining = targetDate - currentDate;
            
            // Calculate the days, hours, minutes, and seconds remaining
            var days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
            var hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);
            
            // Generate strings for days, hours, minutes, and seconds
            var daysString = days === 1 ? "1 day" : days + " days";
            var hoursString = hours === 1 ? "1 hour" : hours + " hours";
            var minutesString = minutes === 1 ? "1 minute" : minutes + " minutes";
            var secondsString = seconds === 1 ? "1 second" : seconds + " seconds";
            
            // Update the timer element with the remaining time
            timerElement.innerHTML = daysString + ", " + hoursString + ", " + minutesString + ", " + secondsString;
        }, 1000);

</script>