@model List<DatabaseSetupLocal.Areas.Identity.Data.AppUser>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>App Users List</h2>
<div class="align-middle" style="margin-left: 40%">

    <table>
        <tr>
            <td>
                <h4>Users:</h4>
            </td>
            <tr style="height: 40px">
                <td>
                    <h5>Username</h5>
                </td>
                <td>
                    <h5>First Name</h5>

                </td>
                <td>
                    <h5>Last Name</h5>

                </td>
                <td>
                    <h5>Admin</h5>

                </td>
            </tr>
        </tr>

        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Admin)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditUser", "Admin", new {userId = user.Id}, new {@class = "btn btn-primary"})

                </td>
            </tr>
        }
        <td>
            @* @Html.ActionLink("Edit", "EditUsers", "Admin", "", new {@class = "btn btn-primary"}) *@
        </td>
    </table>
</div>