@{
    ViewBag.Title = "Admin Panel";
    Layout = "_Layout";
}

<h2>Admin page</h2>
<div style="align-self: center">
        @Html.ActionLink("Users Edit Panel", "Users", "Admin", null, new {@class = "btn btn-primary btn-lg btn-block", @style = "margin-bottom: 20px"})
    
</div>
<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Update races for this year", "DownloadCountryListOfRaces", "Admin", null, new {@class = "btn btn-primary btn-lg btn-block", @style = "margin-bottom: 20px"})
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Update latest results", "DownloadResultOfRaces", "Admin", null, new {@class = "btn btn-primary btn-lg btn-block", @style = "margin-bottom: 20px"})
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Download dates of races", "DownloadDatesListOfRaces", "Admin", null, new {@class = "btn btn-primary btn-lg btn-block", @style = "margin-bottom: 20px"})
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Check drivers data", "GetDriversData", "Admin", null, new {@class = "btn btn-primary btn-lg btn-block", @style = "margin-bottom: 20px"})
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Check schedule data", "GetScheduleData", "Admin", null, new {@class = "btn btn-primary btn-lg btn-block", @style = "margin-bottom: 20px"})
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Delete your user", "DeleteUser", "Admin", null, new {@class = "btn btn-primary btn-lg btn-block", @style = "margin-bottom: 20px"})
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Reset legacy data", "ResetLegacyData", "Admin", null, new {@class = "btn btn-primary btn-lg btn-block", @style = "margin-bottom: 20px"})
    </div>

    <div class="col-md-4">
        @Html.ActionLink("Count/Recount locked races", "CountPointsInLockedRaces", "Admin", null, new {@class = "btn btn-primary btn-lg btn-block", @style = "margin-bottom: 20px"})
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Sum points for races", "SumPointsForRaces", "Admin", null, new {@class = "btn btn-primary btn-lg btn-block", @style = "margin-bottom: 20px"})
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Lock previous races", "LockPreviousRaces", "Admin", null, new {@class = "btn btn-primary btn-lg btn-block", @style = "margin-bottom: 20px"})
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Lock previous year", "LockPreviousYear", "Admin", null, new {@class = "btn btn-primary btn-lg btn-block", @style = "margin-bottom: 20px"})
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Lock current race", "LockCurrentRace", "Admin", null, new {@class = "btn btn-primary btn-lg btn-block", @style = "margin-bottom: 20px"})
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Change all abr to full names", "ChangeAllAbrToFullName", "Admin", null, new {@class = "btn btn-primary btn-lg btn-block", @style = "margin-bottom: 20px"})
    </div>
</div>
