@* @model TModel *@

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Admin page</h2>

<br/>
<div class="row">
    <div class="column">
        @Html.ActionLink("Update races for this year", "DownloadCountryListOfRaces", "Admin", null, new {@class = "btn btn-primary", @style = "margin-bottom: 20px"}) <br/>
        @Html.ActionLink("Update latest results", "DownloadResultOfRaces", "Admin", null, new {@class = "btn btn-primary", @style = "margin-bottom: 20px"}) <br/>
        @Html.ActionLink("Download dates of races", "DownloadDatesListOfRaces", "Admin", null, new {@class = "btn btn-primary", @style = "margin-bottom: 20px"}) <br/>
        @Html.ActionLink("Check drivers data", "GetDriversData", "Admin", null, new {@class = "btn btn-primary", @style = "margin-bottom: 20px"}) <br/>
    </div>
    <div class="column">
        @Html.ActionLink("Check schedule data", "GetScheduleData", "Admin", null, new {@class = "btn btn-primary", @style = "margin-bottom: 20px"}) <br/>
        @Html.ActionLink("Delete your user", "DeleteUser", "Admin", null, new {@class = "btn btn-primary", @style = "margin-bottom: 20px"}) <br/>
        @Html.ActionLink("Reset legacy data", "ResetLegacyData", "Admin", null, new {@class = "btn btn-primary", @style = "margin-bottom: 20px"}) <br/>
        @Html.ActionLink("Check Users", "Users", "Admin", null, new {@class = "btn btn-primary", @style = "margin-bottom: 20px"}) <br/>

    </div>
    <div class="column">
        @Html.ActionLink("Count/Recount locked races", "CountPointsInLockedRaces", "Admin", null, new {@class = "btn btn-primary", @style = "margin-bottom: 20px"}) <br/>
        @Html.ActionLink("Sum points for races", "SumPointsForRaces", "Admin", null, new {@class = "btn btn-primary", @style = "margin-bottom: 20px"}) <br/>
        @Html.ActionLink("Lock previous races", "LockPreviousRaces", "Admin", null, new {@class = "btn btn-primary", @style = "margin-bottom: 20px"}) <br/>
        @Html.ActionLink("Lock previous year", "LockPreviousYear", "Admin", null, new {@class = "btn btn-primary", @style = "margin-bottom: 20px"}) <br/>

    </div>
</div>
@Html.ActionLink("Lock current race", "LockCurrentRace", "Admin", null, new {@class = "btn btn-primary", @style = "margin-bottom: 20px"}) <br/>
@Html.ActionLink("Change all abr to full names", "ChangeAllAbrToFullName", "Admin", null, new {@class = "btn btn-primary", @style = "margin-bottom: 20px"}) <br/>