@model List<DatabaseSetupLocal.Areas.Identity.Data.AppUser>

@{
    ViewBag.Title = "Users";
    Layout = "_Layout";
}

<h2>App Users List</h2>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Admin</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => user.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => user.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => user.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => user.Admin)</td>
                        <td>
                            @Html.ActionLink("Edit", "EditAppUser", "Admin", new { userId = user.Id }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
