@model List<DatabaseSetupLocal.Areas.Identity.Data.AppUser>

@{
    ViewBag.Title = "Users";
    Layout = "_Layout";
}
<style>
    /* Dark mode styles */
        .dark-mode body {
            background-color: #202020 !important;
            color: #ffffff !important;
        }
    
        .dark-mode h2 {
            color: #ffffff !important;
        }
    
        .dark-mode th {
            color: #ffffff !important;
        }
    
        .dark-mode td {
            color: #ffffff !important;
        }
    
        .dark-mode .table {
            background-color: #202020 !important;
        }
    
        .dark-mode .btn-primary {
            background-color: #007bff !important;
            border-color: #007bff !important;
        }
    
        .dark-mode .btn-primary:hover {
            background-color: #0069d9 !important;
            border-color: #0062cc !important;
        }
    
        .dark-mode .form-control {
            background-color: #292929 !important;
            color: #ffffff !important;
            border: 1px solid #6c757d !important;
        }
</style>

<h2>App Users List</h2>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Admin</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => user.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => user.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => user.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => user.Admin)</td>
                        <td>
                            @Html.ActionLink("Edit", "EditAppUser", "Admin", new { userId = user.Id }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
