@model Race

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    var isFormDirty = false;

    $(document).ready(function () {
        $('form :input').change(function () {
            isFormDirty = true;
            $('#unsaved-message').show();
        });

        $('form').submit(function () {
            isFormDirty = false;
            $('#unsaved-message').hide();
        });

        window.onbeforeunload = function () {
            if (isFormDirty) {
                return "You have unsaved changes. Are you sure you want to leave this page?";
            }
        };
    });
</script>


<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%;
    }
    </style>
<div style="margin-left: 20%">
    <h2>Editing:</h2>
    <h2>@ViewBag.User.UserName - @ViewBag.Year - @ViewBag.Location</h2>
    <br/>
    <div id="unsaved-message" style="display: none;">You have unsaved changes.</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)
                    <table >
                        <tr>
                            <th>
                                <h5>Position:</h5>
                            </th>
                            <th>
                                <h5>Users driver:</h5>
                            </th>

                        </tr>
                        <br/>

                        @for (var i = 1; i - 1 < Model.Shot.Count; i++)
                        {
                            <tr style="height: 40px">
                                <td>
                                    @i
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.Shot[i - 1].UsersShotDriver, new SelectList(ViewBag.F1Grid), "Select a driver.", new {@id = "ddlId", @class = "form-control"})
                                    @* @Html.EditorFor(model => model.Shot[i - 1].UsersShotDriver) *@
                                    @Html.ValidationMessageFor(model => model.Shot[i - 1].UsersShotDriver)
                                </td>
                            </tr>
                        }
                    </table >

                    @*Genre and Price removed for brevity.*@
                    <div class="form-group">
                        <div >
                            <input type="submit" value="Save" class="btn btn-primary" style="margin-top: 20px; width: 50%; margin-left: 15%"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Shots", new {userId = ViewBag.User.Id, raceId = ViewBag.RaceId, raceLocation = ViewBag.Location}, new {@class="btn btn-primary", style="margin-top: 10px; margin-left: 37%"})
    </div>
</div>